# vortex - GCode machine emulator
# Copyright (C) 2024  Mitko Haralanov
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
[machine]
kinematics: cartesian

[stepper step1]
steps_per_rotation: 200
microsteps: 64
start_speed: 30
driver: tmc2209
steps_per_mm: 60

[stepper step2]
steps_per_rotation: 200
microsteps: 64
start_speed: 30
driver: tmc2209
steps_per_mm: 60

[stepper step3]
steps_per_rotation: 200
microsteps: 64
start_speed: 30
driver: tmc2209
steps_per_mm: 60

[stepper step4]
steps_per_rotation: 200
microsteps: 64
start_speed: 30
driver: tmc2209
steps_per_mm: 60

[stepper step5]
steps_per_rotation: 200
microsteps: 64
start_speed: 30
driver: tmc2209
steps_per_mm: 100

[endstop x]
type: max
axis: x

[endstop y]
type: max
axis: y

[endstop z]
type: min
axis: z

[thermistor extruder]
sensor_type: pt1000
beta: 0
heater: extruder

[heater extruder]
power: 60
max_temp: 300

[axis x_axis]
type: x
length: 300
stepper: step1
endstop: x

[axis y_axis]
type: y
length: 300
stepper: step2
endstop: y

[axis z_axis]
type: z
length: 100
stepper: step3, step4
endstop: z

[axis extruder_axis]
type: e
length: -1
stepper: step5

[probe probe]
toolhead: tool1
offsets: 0, 0, 25
range: 0.005

[toolhead tool1]
axes: x, y, z

[fan fan1]

[digital_pin pin1]