[printer]
kinematics: corexy
max_velocity: 200
max_accel: 200

[mcu]
serial: /tmp/vortex
restart_method: command

[stepper_x]
step_pin: PD7
dir_pin: PC5
enable_pin: PD6
endstop_pin: ^PC2
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
position_min: 0
position_max: 300
position_endstop: 0

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: PF15
endstop_pin: ^PC3
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 40
position_endstop: 0
position_max: 300
position_min: 0


[stepper_z]
step_pin: PB3
dir_pin: PG3
enable_pin: PG5
endstop_pin: ^PC4
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 8
position_endstop: 0.0
position_max: 250
position_min: -2

[extruder]
step_pin: PE2
dir_pin: PE3
enable_pin: PD4
rotation_distance: 22.9057406
gear_ratio: 50:17
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PA2
sensor_type: Generic 3950
sensor_pin: PF4
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
control: pid
pid_Kp: 33.765
pid_Ki: 1.506
pid_Kd: 189.260

[heater_bed]
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
min_temp: 0
max_temp: 120
control: pid
pid_kp: 74.209
pid_ki: 1.718
pid_kd: 801.219

[probe]
pin: PG15
x_offset: 0
y_offset: 25.0
z_offset: 0
speed: 5.0
lift_speed: 80.0
samples: 3
samples_result: median
sample_retract_dist: 1.2
samples_tolerance: 0.006
samples_tolerance_retries: 3

[gcode_macro PRINT_START]
gcode:
    G90
    G28
    M190 S{params.BED}
    M109 S{params.EXTRUDER}

[gcode_macro PRINT_END]
gcode:
    M104 S0
    M140 S0
    M107
    M84

[virtual_sdcard]
path: ~/voron/nas/3D Printing/gcode

[gcode_button BUTTON]
pin: PE12
press_gcode:
    G28
#[display]
###  mini12864 LCD Display
#lcd_type: uc1701
#cs_pin: PE9
#a0_pin: PE10
#rst_pin: PE12
#encoder_pins: ^PB2, ^PB1
#click_pin: ^PE7
#contrast: 63
#spi_software_miso_pin: PA6
#spi_software_mosi_pin: PA7
#spi_software_sclk_pin: PA5